---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-10 mx-auto">
          <div class="page-heading">
            <span class="subheading">Worldbuilder's Guide to</span>
            <h1>{{ page.title }}</h1>
          </div>
        </div>
        <div class="col guide-title-art">

        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-10 mx-auto guide-content">
        {{ content }}
      </div>
      <nav class="col d-none d-md-block inline_toc">
        <div class="sticky-top">
          <label>Jump to Section</label>
          {% assign max_level = page.max_toc_level | default: 3 %}
          {% include toc.html html=content sanitize=true id="guide_toc" h_min=1 h_max=max_level %}
        </div>
      </nav>
    </div>
  </div>
