---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        {% if page.header_image_offset %}
          {% assign v_pos = page.header_image_offset | append: 'px' %}
        {% else %}
          {% assign v_pos = "center" %}
        {% endif %}
        <div class="col-lg-9 col-md-10 mx-auto page-heading-container" style="background-position: center {{ v_pos }}; background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
          <div class="page-heading">
            <span class="subheading">Worldbuilder's Guide to</span>
            <h1 class="{% if page.header_shadow %}page-title-shadow{% endif %}">{{ page.title }}</h1>
          </div>
        </div>
        <div class="col guide-title-art">

        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">

      <div class="col-lg-9 mx-auto guide-content">
        {{ content }}
      </div>
      <nav class="col navbar navbar-expand-lg" id="inline-toc">
        <div class="sticky-top">
          <label>Jump to Section</label>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% assign max_level = page.max_toc_level | default: 3 %}
          {% include toc.html html=content sanitize=true class="collapse navbar-collapse" anchor_class="nav-link" id="guide-toc" h_min=1 h_max=max_level %}
        </div>
      </nav>
    </div>
  </div>
