---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
          </div>
          {% if page.subtitle %}
          <span class="subheading">{{ page.subtitle }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto story-content">

        {{ content }}

      </div>
      {% if page.toc %}
      <nav class="col inline_toc">
        <div class="sticky-top">
          {% include toc.html html=content sanitize=true id="guide_toc" h_min=2 h_max=4 %}
        </div>
      </nav>
      {% endif %}
    </div>
  </div>
